window class_not: ['gnome-terminal-server', 'code'] do
  # emacs-like bindings
  remap 'C-b', to: 'Left'
  remap 'C-f', to: 'Right'
  remap 'C-p', to: 'Up'
  remap 'C-n', to: 'Down'

  remap 'C-s', to: 'C-f'
  remap 'C-h', to: 'BackSpace'

  remap 'M-b', to: 'Ctrl-Left'
  remap 'M-f', to: 'Ctrl-Right'

  remap 'C-a', to: 'Home'
  remap 'C-e', to: 'End'

  remap 'C-k', to: ['Shift-End', 'Ctrl-x']

  remap 'C-d', to: 'Delete'
  remap 'M-d', to: 'Ctrl-Delete'

  # actually these are vim insert mode bindings, but compatible with shell
  remap 'C-u', to: ['Shift-Home', 'Ctrl-x']
  remap 'C-w', to: ['Ctrl-Shift-Left', 'Ctrl-x']
end

define :activate do |wm_class, command|
  execute("wmctrl -x -a #{wm_class.shellescape} || #{command.shellescape}")
end

# Window switcher
# Check WM_CLASS by wmctrl -x -l
remap 'C-1', to: activate('google-chrome.Google-chrome', '/usr/bin/google-chrome')
remap 'C-2', to: activate('code.Code', '/usr/bin/code')
remap 'C-3', to: activate('gnome-terminal-server.Gnome-Terminal', '/usr/bin/gnome-terminal')
remap 'C-4', to: activate('nautilus.Nautilus', '/usr/bin/nautilus')