set main-view = id date author commit-title:graph=yes,refs=yes
set vertical-split = no
set split-view-height = 75%
set wrap-lines = yes
bind status  C !git commit -v
bind main    R !git rebase -i %(commit)
bind diff    R !git rebase -i %(commit)
